* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

body {
  display: block;
}
:root {
  --mainclr: rgb(161, 152, 152);
  --secclr: hsl(225, 87%, 69%);
  --third: #dfe4e0;
}

html {
  font-size: 62.5%;
}

.header {
  padding: 1rem 7%;
  background-color: var(--mainclr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 1000;
}
.header #logo {
  width: 50px;
}
.navbar a {
  color: white;
  font-size: 1.5rem;
  margin-left: 2rem;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100vh;
  padding-top: 6%;
  position: relative;
  background: url(images/myhands.png) 0% 0% / cover no-repeat;
  background-repeat: no-repeat;
}
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.background-content h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 60px;
  padding-left: 10px;
  padding-top: 60px;
  font-family: "Bebas Neue", cursive;
}
.background-content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-left: 60px;
  padding-left: 10px;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.background-content a {
  background: var(--secclr);
  padding: 1.5rem 3rem;
  margin-left: 60px;
  border-radius: 15px;
  color: white;
  font-size: 1.5rem;
}

.contact-content {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-top: 25px;
}

.contact-form {
  padding: 20px;
}

.form-input-section {
  justify-content: left;
  padding: 20px;
}

.form-input-section input {
  margin-top: 10px;
  padding: 10px;
  display: block;
  width: 100%;
}

.form-submit-btn {
  background: var(--secclr);
  padding: 1.5rem 3rem;
  border-radius: 15px;
  color: white;
  font-size: 1.5rem;
}
.footer-socials {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer-link {
  width: 25px;
  height: 50px;
}
